<div id="jsPaginationContainer">
  <div id="pagination">
    <button type="button" class="pagination-btn" id="jsPrevBtn"><i class="fas fa-chevron-left"></i></button>
    <span id="jsPageInfo"></span>
    <button type="button" class="pagination-btn" id="jsNextBtn"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>