<div id="jsPaginationContainer" class="my-3">
  <div id="pagination" class="text-center">
    <button type="button" class="pagination-btn" id="jsPrevBtn"><i class="fas fa-chevron-left"></i></button>
    <span id="jsPageInfo" class="text-xs"></span>
    <button type="button" class="pagination-btn" id="jsNextBtn"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>