<div class="field jsResetInput">
  <input type="text" id="jsOrderItemSearch" placeholder="Item #" class="field__input">
  <label for="jsOrderItemSearch" class="field__label">Search by Item #</label>
  <button type="button" class="btn-icon-only jsResetBtn"><i class="fa-solid fa-close"></i></button>
</div>