<section class="page-width nearer-page-title">  
     <a href="/pages/account-dashboard" class="text-xs font-body-bold"><i class="fa-solid fa-chevron-left icon-l"></i>Account Dashboard</a>
</section>  

{% schema %}
  {
    "name": "Account Dashboard Link",
    "settings": [      
     
    ]
  }
{% endschema %}