<script src="{{ 'inx-account-dashboard.js' | asset_url }}" defer="defer"></script>
{{ 'inx-styles-account.css' | asset_url | stylesheet_tag }}



{% comment %} {%- if customer -%} {% endcomment %}
<section class="page-width" id="orders-section" data-total="" data-type="orders">  
  <div class="container-fluid text-xs">
    <div class="row my-5">
      <div class="col-12 col-sm-6">
        {%- render 'inx-account-order-search' -%}
      </div>
    </div>

    <div class="row d-none d-xl-flex acct-table acct-table-header">
      <div class="col-12 col-lg-3 col-xl-2">
        <span>Order #</span>
      </div>
      <div class="col-7 col-md-3 col-lg-2 col-xl-1 acct-type">
        <span>Type</span>
      </div>
      <div class="col-5 col-md-4 col-lg-5 col-xl-2 acct-date">
        <span>Date</span>
      </div>
      <div class="col-7 col-md-5 col-lg-3 col-xl-2 flex-xl-grow-1">
        <span>Status</span>
      </div>
      <div class="col-5 col-md-3 col-lg-2 col-xl-1">
        <span>PO #</span>
      </div>
      <div class="col-7 col-md-4 col-lg-3 col-xl-2">
        <span>Ordered By</span>
      </div>
      <div class="col-5 col-md-5 col-lg-3 col-xl-2">
        <span>Amount</span>
      </div>
    </div>
  </div>

  <div class="container-fluid text-xs">
    <div class="row acct-table jsOrderRow">
      <div class="col-12 col-lg-3 col-xl-2">
        <a href="javascript:void(0);" class="acct-link acct-order-num jsOrderDetailsLink" data-order-id="1">W-12345</a>
      </div>
      <div class="col-7 col-md-3 col-lg-2 col-xl-1 acct-type">
        <span class="acct-label">Type:</span>Order
      </div>
      <div class="col-5 col-md-4 col-lg-5 col-xl-2 acct-date">
        <span class="acct-label">Date:</span>01/01/2025
      </div>
      <div class="col-7 col-md-5 col-lg-3 col-xl-2 flex-xl-grow-1">
        <span class="acct-label">Status:</span>Web Order Pending
      </div>
      <div class="col-5 col-md-3 col-lg-2 col-xl-1 word-break">
        <span class="acct-label">PO #</span>123456
      </div>
      <div class="col-7 col-md-4 col-lg-3 col-xl-2">
        <span class="acct-label">Ordered By:</span>Ronald Campbell
      </div>
      <div class="col-5 col-md-5 col-lg-3 col-xl-2">
        <span class="acct-label">Amount:</span>$123.45
      </div>
      <div class="col-12">
        <hr class="list-divider" />
      </div>
    </div>

    <div class="row acct-table jsOrderRow">
      <div class="col-12 col-lg-3 col-xl-2">
        <a href="" class="acct-link acct-order-num">MX-00050304</a>
      </div>
      <div class="col-7 col-md-3 col-lg-2 col-xl-1 acct-type">
        <span class="acct-label">Type:</span>Direct Sale
      </div>
      <div class="col-5 col-md-4 col-lg-5 col-xl-2 acct-date">
        <span class="acct-label">Date:</span>01/01/2025
      </div>
      <div class="col-7 col-md-5 col-lg-3 col-xl-2 flex-xl-grow-1">
        <span class="acct-label">Status:</span>Notes - Needs Review
      </div>
      <div class="col-5 col-md-3 col-lg-2 col-xl-1 word-break">
        <span class="acct-label">PO #</span>987654321
      </div>
      <div class="col-7 col-md-4 col-lg-3 col-xl-2">
        <span class="acct-label">Ordered By:</span>Sara Ahlers
      </div>
      <div class="col-5 col-md-5 col-lg-3 col-xl-2">
        <span class="acct-label">Amount:</span>$1234.56
      </div>
      <div class="col-12">
        <hr class="list-divider" />
      </div>
    </div>

    <div class="row acct-table jsOrderRow">
      <div class="col-12 col-lg-3 col-xl-2">
        <a href="" class="acct-link acct-order-num">W-654321</a>
      </div>
      <div class="col-7 col-md-3 col-lg-2 col-xl-1 acct-type">
        <span class="acct-label">Type:</span>Order
      </div>
      <div class="col-5 col-md-4 col-lg-5 col-xl-2 acct-date">
        <span class="acct-label">Date:</span>01/15/2025
      </div>
      <div class="col-7 col-md-5 col-lg-3 col-xl-2 flex-xl-grow-1">
        <span class="acct-label">Status:</span>Open
      </div>
      <div class="col-5 col-md-3 col-lg-2 col-xl-1 word-break">
        <span class="acct-label">PO #</span>789456
      </div>
      <div class="col-7 col-md-4 col-lg-3 col-xl-2">
        <span class="acct-label">Ordered By:</span>Sara Ahlers
      </div>
      <div class="col-5 col-md-5 col-lg-3 col-xl-2">
        <span class="acct-label">Amount:</span>$34.56
      </div>
      <div class="col-12">
        <hr class="list-divider" />
      </div>
    </div>

    <div class="row acct-table jsOrderRow">
      <div class="col-12 col-lg-3 col-xl-2">
        <a href="" class="acct-link acct-order-num">MX-123456</a>
      </div>
      <div class="col-7 col-md-3 col-lg-2 col-xl-1 acct-type">
        <span class="acct-label">Type:</span>Credit
      </div>
      <div class="col-5 col-md-4 col-lg-5 col-xl-2 acct-date">
        <span class="acct-label">Date:</span>01/01/2025
      </div>
      <div class="col-7 col-md-5 col-lg-3 col-xl-2 flex-xl-grow-1">
        <span class="acct-label">Status:</span>
      </div>
      <div class="col-5 col-md-3 col-lg-2 col-xl-1 word-break">
        <span class="acct-label">PO #</span>75396
      </div>
      <div class="col-7 col-md-4 col-lg-3 col-xl-2">
        <span class="acct-label">Ordered By:</span>Harry Potter
      </div>
      <div class="col-5 col-md-5 col-lg-3 col-xl-2">
        <span class="acct-label">Amount:</span>$12.13
      </div>
      <div class="col-12">
        <hr class="list-divider" />
      </div>
    </div>

    <div class="row acct-table jsOrderRow">
      <div class="col-12 col-lg-3 col-xl-2">
        <a href="" class="acct-link acct-order-num">W-456123</a>
      </div>
      <div class="col-7 col-md-3 col-lg-2 col-xl-1 acct-type">
        <span class="acct-label">Type:</span>Order
      </div>
      <div class="col-5 col-md-4 col-lg-5 col-xl-2 acct-date">
        <span class="acct-label">Date:</span>12/01/2024
      </div>
      <div class="col-7 col-md-5 col-lg-3 col-xl-2 flex-xl-grow-1">
        <span class="acct-label">Status:</span>Shopify Order
      </div>
      <div class="col-5 col-md-3 col-lg-2 col-xl-1 word-break">
        <span class="acct-label">PO #</span>12345
      </div>
      <div class="col-7 col-md-4 col-lg-3 col-xl-2">
        <span class="acct-label">Ordered By:</span>Hermoine Granger
      </div>
      <div class="col-5 col-md-5 col-lg-3 col-xl-2">
        <span class="acct-label">Amount:</span>$2138.66
      </div>
      <div class="col-12">
        <hr class="list-divider" />
      </div>
    </div>

    <div class="row acct-table jsOrderRow">
      <div class="col-12 col-lg-3 col-xl-2">
        <a href="" class="acct-link acct-order-num">W-78945</a>
      </div>
      <div class="col-7 col-md-3 col-lg-2 col-xl-1 acct-type">
        <span class="acct-label">Type:</span>Order
      </div>
      <div class="col-5 col-md-4 col-lg-5 col-xl-2 acct-date">
        <span class="acct-label">Date:</span>01/13/2025
      </div>
      <div class="col-7 col-md-5 col-lg-3 col-xl-2 flex-xl-grow-1">
        <span class="acct-label">Status:</span>Order Invoiced
      </div>
      <div class="col-5 col-md-3 col-lg-2 col-xl-1 word-break">
        <span class="acct-label">PO #</span>42651
      </div>
      <div class="col-7 col-md-4 col-lg-3 col-xl-2">
        <span class="acct-label">Ordered By:</span>Ron Weasley
      </div>
      <div class="col-5 col-md-5 col-lg-3 col-xl-2">
        <span class="acct-label">Amount:</span>$63.24
      </div>
      <div class="col-12">
        <hr class="list-divider" />
      </div>
    </div>

    <div class="row acct-table jsOrderRow">
      <div class="col-12 col-lg-3 col-xl-2">
        <a href="" class="acct-link acct-order-num">MX-42651</a>
      </div>
      <div class="col-7 col-md-3 col-lg-2 col-xl-1 acct-type">
        <span class="acct-label">Type:</span>Order
      </div>
      <div class="col-5 col-md-4 col-lg-5 col-xl-2 acct-date">
        <span class="acct-label">Date:</span>01/31/2025
      </div>
      <div class="col-7 col-md-5 col-lg-3 col-xl-2 flex-xl-grow-1">
        <span class="acct-label">Status:</span>Shopify Order
      </div>
      <div class="col-5 col-md-3 col-lg-2 col-xl-1 word-break">
        <span class="acct-label">PO #</span>142563
      </div>
      <div class="col-7 col-md-4 col-lg-3 col-xl-2">
        <span class="acct-label">Ordered By:</span>Luna Lovegood
      </div>
      <div class="col-5 col-md-5 col-lg-3 col-xl-2">
        <span class="acct-label">Amount:</span>$134.77
      </div>
      <div class="col-12">
        <hr class="list-divider" />
      </div>
    </div>
  </div>
</section>

{%- # Order Details Section -%}
<section class="page-width jsOrderDetailsSection" id="order-details-1" style="display:none;" data-order-id="1">
  <div class="container-fluid">
    <div class="box">
      <div class="row">
        <div class="col-12 mb-4 d-flex justify-content-between">
          <h2 class="mt-0">Order W-123456</h2>
          <button type="button" class="link acct-nav-link font-body-bold jsBackToOrders"><i class="fa-solid fa-chevron-left icon-l"></i>Back to Blanket Orders</button>
        </div>
        <div class="col-12 col-md-6">
          <table class="table-condensed table-row1-label">
            <tr>
              <td class="acct-label">Date</td>
              <td>01/01/2025</td>
            </tr>
            <tr>
              <td class="acct-label">PO #</td>
              <td>123456</td>
            </tr>
            <tr>
              <td class="acct-label">Ordered By</td>
              <td>Harry Potter</td>
            </tr>
            <tr>
              <td class="acct-label">Status</td>
              <td>Open</td>
            </tr>
            <tr>
              <td class="acct-label">Freight</td>
              <td>My Freight</td>
            </tr>
          </table>
        </div>

        <div class="col-12 col-md-6">
          <ul class="no-bullets">
            {%-comment%}<li>Invoice/packing/tracking placeholder</li>{%endcomment%}
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <ul class="no-bullets line-condensed">
            <li class="acct-label">Bill To</li>
            <li>Name</li>
            <li>Address1</li>
            <li>Address2</li>
            <li>City, State Zip</li>
          </ul>
        </div>

        <div class="col-12 col-md-6">
          <ul class="no-bullets line-condensed">
            <li class="acct-label">Ship To</li>
            <li>Name</li>
            <li>Address1</li>
            <li>Address2</li>
            <li>City, State Zip</li>
          </ul>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <table class="table-condensed table-row1-label">
            <tr>
              <td class="acct-label">Ship Via</td>
              <td>UPS</td>
            </tr>
            <tr>
              <td class="acct-label">Requested Ship Date</td>
              <td>01/02/2025</td>
            </tr>
            <tr>
              <td class="acct-label">Order Comments</td>
              <td>My Order Comments</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table-condensed table-row1-label">
            <tr>
              <td class="acct-label">Subtotal</td>
              <td>$10.00</td>
            </tr>
            <tr>
              <td class="acct-label">Tax</td>
              <td>$1.60</td>
            </tr>
            <tr>
              <td class="acct-label">Shipping & Handling</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td class="acct-label">Misc Fee</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td class="acct-label">Total</td>
              <td class="font-body-bold">$11.60</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <p class="heading text-lg font-body-bold">Items</p>
      </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-8 col-md-8 col-xxl-9">
            <ul class="no-bullets line-condensed my-0">
              <li class="font-body-bold">INxSQL Golfball</li>
              <li><span class="text-xs text-gray pe-2">Item #</span>123456</li> 
              <li><span class="text-xs text-gray pe-2">Requested Ship Date:</span>01/01/2025</li>  
              <li><span class="text-xs text-gray pe-2">Comments:</span>My comments</li> 
              <li><span class="text-xs text-gray pe-2">Handle:</span></li>   
            </ul>
        </div>       

        <div class="col-12 col-sm-4 col-md-4 col-xxl-3 mt-2 mt-sm-0">
            {%- render 'buy-buttons', product: product -%}
        </div>

        <div class="col-12">
          <hr class="list-divider" />
        </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">          
          <button type="button" class="link acct-nav-link font-body-bold jsBackToOrders"><i class="fa-solid fa-chevron-left icon-l"></i>Back to Blanket Orders</button>
        </div>
    </div>
  </div>
</section>

{% comment %} {%- else -%}
<section class="page-width">
    <p class="text-md">Please <a href="{{ routes.account_login_url }}" class="link" rel="nofollow">log in</a> to continue.</p>  
</section>
{%- endif -%} {% endcomment %}

{% schema %}
{
"name": "Blanket Orders",
"settings": [
{
        "type": "paragraph",
        "content": "Account dashboard style settings can be found in Theme Settings. Scroll down to Account Dashboard - INxSQL." 
      }
]
}
{% endschema %}