<script src="{{ 'inx-account-dashboard.js' | asset_url }}" defer="defer"></script>
{{ 'inx-styles-account.css' | asset_url | stylesheet_tag }}

{%- style -%}
{% # Show Invoice History "table" starting on lg viewports %}
  .acct-table .acct-label {
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
{%- endstyle -%}

{% comment %} {%- if customer -%} {% endcomment %}
<section class="page-width">
  <div class="container-fluid text-xs">
    <div class="row">
      <div class="col-12 mb-3">
        <p>Browse by invoice/check # to see the original invoice and all payments, debits, and credit memos associated with that invoice.</p>
        <p class="text-xs">Transaction Types: IN - Invoice; PY - Payment; DM - Debit Memo; CR - Credit Memo; WO - Write Offs</p>
      </div>
    </div>

    <div class="row d-none d-lg-flex acct-table acct-table-header text-xs">
      <div class="col-lg-2">
        <span>Invoice/Check #</span>
      </div>
      <div class="col-lg-1">
        <span>Type</span>
      </div>
      <div class="col-lg acct-date">
        <span>Date</span>
      </div>
      <div class="col-lg acct-date">
        <span>Due Date</span>
      </div>
      <div class="col-lg">
        <span>Apply To</span>
      </div>
      <div class="col-lg">
        <span>Amount</span>
      </div>
      <div class="col-lg">
        <span>PO #</span>
      </div>
    </div>

    <div class="row acct-table line-condensed">
      <div class="col-12 col-sm-3 col-lg-2">
        <a href="" class="acct-link acct-order-num" data-order-id="1"><span class="acct-label">#</span>111234</a>
      </div>
      <div class="col-6 col-sm-2 col-lg-1">
        <span class="acct-label">Type:</span>IN
      </div>
      <div class="col-6 col-sm-3 col-lg acct-date">
        <span class="acct-label">Date:</span>01/01/2025
      </div>
      <div class="col-6 col-sm-4 col-lg acct-date">
        <span class="acct-label">Due Date:</span>01/01/2025
      </div>
      <div class="col-6 col-sm-3 col-lg">
        <span class="acct-label">Apply To:</span>111234
      </div>
      <div class="col-6 col-sm-5 col-lg">
        <span class="acct-label">Amount:</span>$50.00
      </div>
      <div class="col-6 col-sm-4 col-lg">
        <span class="acct-label">PO #</span>654987
      </div>     
      <div class="col-12">
        <hr class="list-divider" />
      </div>
    </div>
  </div>
</section>

{% comment %} {%- else -%}
<section class="page-width">
  <p class="text-md">Please <a href="{{ routes.account_login_url }}" class="link" rel="nofollow">log in</a> to continue.
  </p>
</section>
{%- endif -%} {% endcomment %}

{% schema %}
{
"name": "Invoice & Payment History",
"settings": [
{
"type": "paragraph",
"content": "Account dashboard style settings can be found in Theme Settings. Scroll down to Account Dashboard - INxSQL."
}
]
}
{% endschema %}