{{ 'inx-styles-account.css' | asset_url | stylesheet_tag }}



{% comment %} {%- if customer -%} {% endcomment %}
<section class="page-width">
  <div class="container-fluid">
      <div class=row>
         <div class="col-3 col-md-2 col-lg-1 text-center">
            <i class="fa-solid fa-user fa-4x"></i>
        </div>

        <div class="col-9 col-md-10 col-lg-11">
            <ul class="m-0 no-bullets">
                <li>CustomerInfo.name</li>
                <li>CustomerInfo.email</li>
                <li>CustomerInfo.company</li>
                {% # <li><i class="fa-solid fa-lock icon-r"></i><a href="#" class="underlined-link">Change Password</a></li>%}
            </ul>
        </div>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row align-items-stretch">
          <div class="col-6 col-md-4 col-lg-3 text-center acct-box">
              <div class="box">
                  <a href="/pages/orders" alt="Order Lookup" class="acct-link">
                      <i class="fa-solid fa-search acct-icon"></i>
                      <span class="acct-title">Orders</span>
                  </a>
                  <span class="acct-desc"> View Open & Closed Orders</span>
              </div>
          </div>

          <div class="col-6 col-md-4 col-lg-3 text-center acct-box">
              <div class="box">
                  <a href="/pages/blanket-orders" alt="Blanket Order Lookup">
                      <i class="fa-solid fa-file-export acct-icon"></i>
                      <span class="acct-title">Blanket Orders</span>
                  </a>
                  <span class="acct-desc"> View Open & Closed Blanket Orders</span>
              </div>
          </div>

          <div class="col-6 col-md-4 col-lg-3 text-center acct-box">
              <div class="box">
                  <a href="/pages/quotes" alt="Quote Lookup">
                      <i class="fa-solid fa-file-signature acct-icon"></i>
                      <span class="acct-title">Quotes</span>
                  </a>
                  <span class="acct-desc"> View Open Quotes</span>
              </div>
          </div>

          <div class="col-6 col-md-4 col-lg-3 text-center acct-box">
              <div class="box">
                  <a href="/pages/rma" alt="RMA Lookup">
                      <i class="fa-solid fa-reply acct-icon"></i>
                      <span class="acct-title">Return Request (RMA)</span>
                  </a>
                  <span class="acct-desc"> View Open Orders Eligible for RMA</span>
              </div>
          </div>

         <div class="col-6 col-md-4 col-lg-3 text-center acct-box">
            <div class="box">
                <a href="" alt="View Open Invoices">
                    <i class="fa-solid fa-file-invoice-dollar acct-icon"></i>
                    <span class="acct-title">Open Invoices</span>
                </a>
                <span class="acct-desc"> View & Print Unpaid Invoices</span>
            </div>
        </div>

         <div class="col-6 col-md-4 col-lg-3 text-center acct-box">
            <div class="box">
                <a href="" alt="View Invoice History">
                    <i class="fa-solid fa-history acct-icon"></i>
                    <span class="acct-title">Invoice History</span>
                </a>
                <span class="acct-desc"> View Invoice & Payment History</span>
            </div>
        </div>   
    </div>
  </div>
</section>

{% comment %} {%- else -%}
<section class="page-width">
    <p class="text-md">Please <a href="{{ routes.account_login_url }}" class="link" rel="nofollow">log in</a> to continue.</p>  
</section>
{%- endif -%} {% endcomment %}

{% schema %}
  {
    "name": "account_dashboard",
    "settings": [      
      {
        "type": "paragraph",
        "content": "Account dashboard style settings can be found in Theme Settings. Scroll down to Account Dashboard - INxSQL." 
      }
    ]
  }
{% endschema %}