:root {
  --text-xxs: 12px;
  --text-xs: 0.889em;
  --text-md: 1.149em;
  --text-lg: 1.32em;
  --text-xl: 1.515em;
  --text-xxl: 1.741em;
}

.box {
  border: 1px solid gray;
  padding: 0.889em; 
}

.heading {
  border-bottom: 1px solid #BBB;
  margin: 0.5em 0;
  padding-bottom: 0.25em;
}

hr.list-divider {
  border: none;
  background-color: #bbb;
  color: #bbb;
  height: 0.75px;
  margin-top: 0.35em;
  margin-bottom: 0.35em;
  padding: 0;
}

.icon-r {
  margin-left: 0.35em;
}

.icon-l {
  margin-right: 0.35em;
}

.line-condensed {
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.nearer-page-title {
  margin-top: -2rem;
}

@media screen and (min-width: 750px) {
  .nearer-page-title {
    margin-top: -3rem;
  }
}

.no-wrap {
  white-space: nowrap;
}

.page-width > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.text-gray {
  color: #6B6B6B;
}

.text-center {
    text-align:center;
}

.text-right {
    text-align:right;
}

.text-left {
    text-align:left;
}

.text-xxs {
  font-size: var(--text-xxs); }

.text-xs {
  font-size: var(--text-xs); }

.text-md {
  font-size: var(--text-md); }

.text-lg {
  font-size: var(--text-lg); }

.text-xl {
  font-size: var(--text-xl); }

.text-xxl {
  font-size: var(--text-xxl); }

.table-condensed {
  border-spacing: 0;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.table-row1-label td:first-child {
  padding-right: 2em;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.word-break {
  word-wrap: break-word;
}